/posizioniInterazione/*
/posizioniNoInterazione/*
/velocitàInterazione/*
/velocitàNoInterazione/*
comparazioneEnergia.png
comparazioneLegge.png
comparazioneParticelle.gif
risultati*
lj.cc
.vscode
input.txt
simulazione